.login-cart-container li{
    display: inline;
    text-decoration: none;
    list-style-type: none;
    padding: 0 12px;
    cursor: pointer;
    font-weight: normal;
}
#cart{
    position: relative;
}
#cart-notiffication{
    position: absolute;
    height: 15px;
    width: 15px;
    color: darkblue;
    top: -5px;
    left: -3px;
    border-radius: 10px;
    background-color: #4F4F4F;
    color: #ffffff;
    font-size: 10px;
    display: flex;
    justify-content: center;
    align-items: center;   
}
.cart-nav-div{
    display: inline-block;
    position: relative;
}
.notification{
    position: absolute;
    display: block;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius:50%;
    /* height: 1px;
    width: 1px; */
    background-color: #4F4F4F;
    color: #FFFFFF;
    font-size: 10px;
    font-weight: 500;
    line-height: 8px;
    top: -72%;
    left: -5%;
}
@media (max-width: 600px){
    .login-cart-container{
        display: flex;
        flex-direction: column;
    }
    .login-cart-container li{
        padding: 5px 0;
    }
    #cart-notiffication{
        display: none;
    }
}
@media (max-width: 500px){
    .login-cart-container{
        display: flex;
        flex-direction: column;
    }
    .login-cart-container li{
        padding: 5px 0;
    }
    #cart-notiffication{
        display: none;
    }
}
@media (max-width: 414px){
    .login-cart-container{
        display: flex;
        flex-direction: column;
    }
    .login-cart-container li{
        padding: 5px 0;
    }
    #cart-notiffication{
        display: none;
    }
}
@media (max-width: 375px){
    .login-cart-container{
        display: flex;
        flex-direction: column;
    }
    .login-cart-container li{
        padding: 5px 0;
    }
    #cart-notiffication{
        display: none;
    }
}
